body {
    background-color: #000000;
    color: white;
    font-family: Roboto;
    margin: 0;
}

main {
    margin: 1em auto 1em auto;
    max-width: 70em;
}

main div,
main section {
    margin-left: 1em;
}

h2 {
    color: #F5C518;
}

h3 {
    font-size: 1em;
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

nav input {
    width: 40%;
    border-radius: 5px;
}

nav>* {
    margin-right: 2em;
}

#menu {
    margin-bottom: .5em;
}

#home_img {
    margin-left: 1em;
}

.ipc-button {
    color: white;
}

#search {
    height: 1em;
    display: none;
}

#signIn {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.ipc-icon {
    position: relative;
    top: .4em;
}

.topBannerLinks {
    margin: 0;
    display: flex;
}

.topBannerLinks a {
    margin-right: .5em;
    padding-right: .5em;
    border-right: 1px solid white;
}

.topBannerLinks a:last-of-type {
    border: none;
}

#title span {
    display: block;
}

#movieYear {
    display: block;
}

.imdbRating {
    margin: 2.2em 1em 0 auto;
    text-align: center;
}

.imdbRating p {
    margin-bottom: 0;
}

.imdbRating p:last-of-type {
    margin: 0;
    font-size: .7em;
}

.trailer,
.poster {
    height: 20em;
}

.poster img {
    height: 100%;
    object-fit: cover;
}

.trailer img {
    object-fit: cover;
    height: 100%;
}

.trailer img,
.poster img,
.right img {
    width: 100%;
}

#reviewSites {
    display: flex;
    margin-left: 0;
}

.reviewSite {
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid white;
    height: 100%;
}

.reviewSite:last-of-type {
    border-right: none;
}

.reviewSite p {
    margin: 0;
}

.block {
    background-color: #121212;
    padding: .5em;
}

.block-color {
    background-color: #121212;
}

.block h2,
.block p {
    margin: 0.2em 0 0.2em 0;
}

.right h2 {
    color: white;
}

#information article {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #232323;
}

#information article p {
    display: inline;
}

.hide {
    display: none;
}

/* grid */

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px 0px;
    justify-self: center;
    grid-template-areas: "topBanner topBanner topBanner right""title title title right""poster trailer trailer right""rating rating rating right""awards awards awards right""information information information right""cast cast cast right";
}

.topBanner {
    grid-area: topBanner;
    background-color: #121212;
    padding: .5em;
}

#share {
    margin-left: auto;
}

.title {
    grid-area: title;
    margin-left: 0;
    display: flex;
}

.title h1 {
    margin: .5em 0 0 0;
}

.trailer {
    grid-area: trailer;
}

.poster {
    grid-area: poster;
}



.awards {
    grid-area: awards;
}

.rating {
    grid-area: rating;
}

.information {
    grid-area: information;
}

.cast {
    grid-area: cast;
}

.right {
    grid-area: right;
    margin-right: 1em;
}



@media(max-width: 860px) {
    .right {
        display: none;
    }

    main {

        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas: "topBanner topBanner topBanner""title title title""poster trailer trailer""rating rating rating""awards awards awards""information information information""cast cast cast";
    }

    main div,
    main section {
        margin-left: 0em;
    }

}

@media(max-width: 630px) {
    /* .poster {
        display: none;
    } */

    .plot {
        grid-area: plot;
        display: block;
    }

    main {
        grid-template-areas: "topBanner topBanner topBanner""title title title""trailer trailer trailer" "rating rating rating" "poster plot plot" "awards awards awards""information information information""cast cast cast";
    }

    .ipc-button {
        display: none;
    }

    #watchList {
        display: none;
    }

    nav {
        justify-content: left;
        margin-right: 0;
    }

    #home_img {
        margin-right: 1em;
    }

    #search {
        margin-left: auto;
    }

    #signIn {
        margin: 0 1em 0 1em;
    }

    nav input {
        display: none;
    }

    #search {
        display: block;
    }
    #desktopPlot {
        display: none;
    }
}