body {
    background-color: #000000;
    color: white;
    font-family: Roboto;
    margin: 0;
}



main {
    margin: 1em auto 1em auto;
    max-width: 60em;
}

main div, main section {
    margin-left: 1em;
}

h2 {
    color: #F5C518;
}

h3 {
    font-size: 1em;
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

nav input {
    width: 40%;
    border-radius: 5px;
}

nav>* {
    margin-right: 2em;
}


#menu {
    margin-bottom: .5em;
}

#home_img {
    margin-left: 1em;
}

.ipc-button {
    color: white;

}

.ipc-icon {
    position: relative;
    top: .4em;
}

#title span {
    display: block;
}

.trailer img, .poster img {
    width: 100%;
}


.block {
    background-color: #121212;
    padding: .5em;
}

#information article {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #232323;
}

#information article p {
    display: inline;

}

/* grid */

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px 0px;
    justify-self: center;
    grid-template-areas: "title title title right""poster trailer trailer right""rating rating rating right""awards awards awards right""information information information right""cast cast cast right";
}

.title {
    grid-area: title;
}

.trailer {
    grid-area: trailer;
}

.poster {
    grid-area: poster;
}

.awards {
    grid-area: awards;
}

.rating {
    grid-area: rating;
}

.information {
    grid-area: information;
}

.cast {
    grid-area: cast;
}

.right {
    grid-area: right;
}

/* main * { 
    border: 1px solid red;
    position: relative;
   }
   
main *:after { 
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
   } */